.idea
/build
/classes
.gradle

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Work around https://youtrack.jetbrains.com/issue/IDEA-116898
gradle/wrapper/gradle-wrapper.properties
docs/gitbook/gitbook-plugin-livereload/
src/book/javadoc

!.idea/codeStyleSettings.xml
out