language: java
jdk:
  - oraclejdk8
cache:
  directories:
  - $HOME/.m2
  - $HOME/.gradle
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/f5e64cdd14f5b63a71f6
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - npm install gitbook-cli
  - bash deployPages.sh
